@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


:root{
    --primary-color: #FE7624;
    --dark-gray: #718096;
    --off-white: #EDF2F7;
    --deep-orange: #C05621;
}
body {
    font-family: 'Poppins',
    sans-serif;
    margin: 0px;
}

/* container */

.container{
padding: 1rem 1rem;
}

.container-center{
    max-width: 500px;
    margin: auto;
}

/* Links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

hr{
    margin: 3rem 0rem;
}


/* Lists */

.list-nonbullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0.5rem 1rem;  
}

/* Navigation */
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    font-weight: bolder;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.nav-brand{
    font-weight: bold;
    font-size: 1.3rem;
}

.navigation .link{
    color: white;
}

.nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bolder;
}

/* header */

.hero{
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;
}

/* Section */

.section {
    padding: 1rem;
}

.section h3 {
    text-align: center;

}

.section p {
    text-align: center;
}

.off-white {
    background-color: var(--off-white);
}

/* Footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    text-align: center;
    
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}






















